body {
    font-family: "Roboto",sans-serif
}

.logo-link {
    font-size: 0;
    text-decoration: none;
}

.logo-web {
    width: 44px;
    color: var(--iris, #4D5AE5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-studio {
    width: 71px;
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-header-menu-link {
    color: var(--navyblue, #2E2F42);
    /* Body Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    text-decoration: none;
}
.main-header-menu-link:hover {
    color: var(--iris, #4D5AE5);
    /* Body Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    text-decoration: none;
}

ul{
    list-style: none;
}
.address-link {
    color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    text-decoration: none;
}

.address-link:hover {
    color: var(--iris, #4D5AE5);
}

.filter-btn.active  {
    cursor: pointer;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--white, #FFF);
    text-align: center;
        /* Button Text */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
        /* 150% */
    letter-spacing: 0.64px;
}
.filter-btn {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    color: var(--iris, #4D5AE5);
    text-align: center;
        /* Button Text */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
        /* 150% */
    letter-spacing: 0.64px;
}

.filter-btn:hover {
    cursor: pointer;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--white, #FFF);
    text-align: center;
}

.footer {
    background: var(--navyblue, #2E2F42);

}

.foot-logo-link {
    font-size: 0;
    text-decoration: none;
}

.foot-logo-web {
    width: 44px;
    color: var(--iris, #4D5AE5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.foot-logo-studio {
    width: 71px;
    font-family: "Raleway";
    color: var(--white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-prgrph {
    color: var(--white, #FFF);
}
