:root {
    color: var(--iris, #4D5AE5);
    color: var(--navyblue, #2E2F42);   
}

body {
    font-family:"Roboto";
    
}

.logo-link {
    font-size: 0;
    text-decoration: none;
}

.logo-web {
    width: 44px;
    color: var(--iris, #4D5AE5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-studio {
    width: 71px;
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-header-menu-link {
    color: var(--navyblue, #2E2F42);
        /* Body Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
        /* 150% */
    letter-spacing: 0.32px;
    text-decoration: none;
}

ul {
    list-style: none;
}

.address-link {
    text-decoration: none;
    color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

h1 {
    color: var(--white, #FFF);
    text-align: center;
        /* Header 1 */
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
        /* 107.143% */
    letter-spacing: 1.12px;
}

.hero-image{
    background-color: var(--navyblue, #2E2F42);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
        /* 107.143% */
    letter-spacing: 1.12px;
}

button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white, #FFF);
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* Button Text */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    background: var(--iris, #4D5AE5);
    border-style: none;
}

h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
        /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
        /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-name {
    text-align: center;
}

.team-role {
    text-align: center;
}
.footer {
    background: var(--navyblue, #2E2F42);

}
.foot-logo-link {
    font-size: 0;
    text-decoration: none;
}

.foot-logo-web {
    width: 44px;
    color: var(--iris, #4D5AE5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.foot-logo-studio {
    width: 71px;
    font-family: "Raleway";
    color: var(--white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-prgrph {
    color: var(--white, #FFF);
}
